@charset "utf-8";

// Colors
$blue: 		#00529b;
$blueDark:  #084b81 !default;
$blueLight: #4c87b5 !default;
$cyan: 		#a9dcda !default;
$orange: 	#f37021 !default;

$fontFamily:					"gentona", "Georgia", serif !default;

// Sizes
$grid-gutter-width: 30px;
$screen-xs:                  480px !default;
$screen-phone:               $screen-xs !default;
$screen-sm:                  768px !default;
$screen-tablet:              $screen-sm !default;
$screen-md:                  992px !default;
$screen-desktop:             $screen-md !default;
$screen-lg:                  1220px !default;
$screen-lg-desktop:          $screen-lg !default;
$screen-xs-max:              ($screen-sm - 1) !default;
$screen-sm-max:              ($screen-md - 1) !default;
$screen-md-max:              ($screen-lg - 1) !default;